div.modal.fade#bulkEditModal(tabindex="-1" role="dialog" aria-labelledby="bulkEditModalLabel" aria-hidden="true")
    div.modal-dialog.modal-lg(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title#bulkEditModalLabel Bulk edit
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div.modal-body
                div.form-group
                    label.col-form-label(for="message-text") Enter your URLs, one URL per line:
                    textarea#bulkEditUrls.form-control(rows="10")
            div.modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                button#saveBulkButton.btn.btn-primary(type="button" data-dismiss="modal") Save changes
                