doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        title Create game - Ranker
        script(src="/js/autocreate.js")
    body
        div.row.justify-content-center.container-fluid
            div.col-auto
                table.table.table-responsive.table-borderless
                    thead.thead-dark
                        tr
                            th Game Name
                    tbody
                        tr
                            td
                                input.form-control#gameTitle(type="text")
                table.table.table-responsive.table-borderless
                    thead.thead-dark
                        tr
                            th URL
                            th
                    tbody#itemUrls
                        tr
                            td
                                button#addItemButton.btn.btn-primary(type="button")
                                    include includes/bootstrap-plus-icon.pug
                                    |  Add item
                table.table.table-responsive.table-borderless
                    tbody
                        tr
                            td
                                button#bulkEditButton.btn.btn-primary(type="button" data-toggle="modal" data-target="#bulkEditModal") Bulk edit items
                                include includes/bootstrap-bulk-edit-modal.pug
                            td
                                button#deleteAllItemsButton.btn.btn-danger(type="button") Delete all items
                            td
                                button#submitButton.btn.btn-success(type="button") Submit
                            td
                                a.btn.btn-primary(role="button" href="/create") Manually create game
        include includes/bootstrap-js.pug
