doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        style(type='text/css').
            img.preview {
                max-width: 400px;
                max-height: 250px;
            }
        title Manually create game - Ranker
        script(src="/js/create.js")
    body
        div.row.justify-content-center.container-fluid
            div.col-auto
                table.table.table-responsive.table-borderless
                    thead.thead-dark
                        tr
                            th Game Name
                    tbody
                        tr
                            td
                                input.form-control#gameTitle(type="text")
                table.table.table-responsive.table-borderless
                    thead.thead-dark
                        tr
                            th Title
                            th URL
                            th Image URL
                            th Image preview
                            th
                            th
                    tbody#items
                table.table.table-responsive.table-borderless
                    tbody#buttons
                        tr
                            td
                                button#addItemButton.btn.btn-primary(type="button") Add item
                            td
                                button#clearItems.btn.btn-primary(type="button") Clear all items
                            td
                                button#submitButton.btn.btn-success(type="button") Submit

