doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        style(type='text/css').
            img {
                max-width: 450px;
                max-height: 450px;
            }
        title Ratings - Ranker
        script(src="/js/ratings.js")
    body
        div.row.justify-content-center
            div.col-auto
                table.table.table-striped.table-bordered.table-hover
                    thead.thead-dark
                        tr
                            th Rank
                            th Title
                            th Rating
                            th Image
                    tbody#items
    include includes/bootstrap-js.pug
