doctype html
html(lang='en')
    head
        include includes/bootstrap-css.pug
        style(type='text/css').
            img.choice {
                max-width: 650px;
                max-height: 600px;
            }
            img.choice:hover {
                cursor: pointer;
            }
        title Vote - Ranker
        script(src="/js/vote.js")
    body
        div.row.justify-content-center.container-fluid
            div.col-auto
                table.table.table-responsive.table-borderless
                    thead.thead-dark
                        tr
                            th Vote 1
                            th Vote 2
                    tbody
                        tr
                            td
                                img.choice#firstChoice
                            td
                                img.choice#secondChoice
                        tr
                            td#firstTitle
                            td#secondTitle
                        //- tr
                        //-     td#firstRating
                        //-     td#secondRating
                        //- tr
                        //-     td#firstDeviation
                        //-     td#secondDeviation
                        tr
                            td
                                h5#accuracy Accuracy = N/A
                        tr
                            td
                                a#ratingsButton.btn.btn-primary(role="button") Ratings page
