<html>

<head>
    <title>Ranker</title>
</head>

<body>
    <table>
        <tr>
            <th>Vote 1</th>
            <th>Vote 2</th>
        </tr>
        <tr>
            <td><img src="https://picsum.photos/200/300"></td>
            <td><img src="https://picsum.photos/200/301"></td>
        </tr>
        <tr>
            <td>Image 1</td>
            <td>Image 2</td>
        </tr>
        <tr>
            <td><%= firstTitle %></td>
            <td><%= secondTitle %></td>
        </tr>
    </table>
</body>

</html>